<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/normalize.css">
<link rel="stylesheet" href="/skeleton.css">
</head>
<body>
    <h1>Here comes the budget</h1>
        <% for (let i =0; i < coffees.length; i++) { %>

        <% console.log(i) %>
    
      <h1><%= coffees[i].name %> </h1>
    
    <% } %>
    <div class="container">
        <table>
            <tr></tr>
        </table>
</div>
</body>
</html>

<% for (let i =0; i < coffees.length; i++) { %>

    <% console.log(i) %>

  <h1><%= coffees[i].name %> </h1>

<% } %>