<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Expense</title>
    <link rel="stylesheet" href="/normalize.css">
<link rel="stylesheet" href="/skeleton.css">
</head>
<body>
    <h1>New Expenses</h1>
    <form action="/fruits" method="POST">
        Name: <input type="text" name="name"> <br>
        Date: <input type="text" name="date"><br>
        Amount: <input type="text" name="amount"><br>
        From: <input type="text" name="from"><br>
        <input type="submit" value="create expense">
    </form>
</body>
</html>